@use '../base/variable';
@use '../base/token';
@use '../abstract';

.header-section {
  padding: 64px 16px;
  text-align: center;
  background-color: token.$base-white;

  header {
    margin-bottom: 16px;
    font-weight: token.$font-weights-commerce-sans-2;
  }

  &__sub-header {
    margin-bottom: 12px;
    color: token.$secondary-gray-blue-450;
    font-size: abstract.rem(token.$font-size-1);
    white-space: pre-wrap;
  }

  &__header {
    color: token.$gray-700;
    font-size: abstract.rem(token.$font-size-7);
    white-space: pre-wrap;
  }

  &__text {
    margin-bottom: 32px;
    color: token.$gray-500;
    font-size: abstract.rem(token.$font-size-3);
    font-weight: token.$font-weights-commerce-sans-1;
    white-space: pre-wrap;
  }

  &__more {
    width: 100%;
  }

  @include abstract.media-bp-up('md') {
    padding: 96px 0;

    header {
      margin-bottom: 24px;
    }

    &__text {
      margin-bottom: 40px;
    }

    &__more {
      width: auto;
    }
  } // md

  & > *:last-child {
    margin-bottom: 0;
  }
}
